<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/resources/css/main.css">
</head>
<body>
<h1>Hello World!</h1>

<a name="Add post" href="/post/create">Add post</a>


<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h3>All Posts</h3>
            <h5>Posts count: {{ numberOfPosts }}</h5>
            {% for post in posts %}
            <div>
                <div>
                    <img src="{{post.photo}}">
                </div>
                <div>
                    <p>{{post.description}}</p>
                </div>

            </div>
            {% endfor %}
        </div>
    </div>

</div>
</body>
</html>